#gridContainer{
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    /**/
}

#resetButton{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

#colorButtonContainers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#rainbowButton{
    display: flex;
    align-items: center;
}

.hoveredEffect{
    background-color: black;
}